body {
  background: #fff;
  margin: 0
}

svg {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  height: 75%;
  background: #fff;
  border: 0 none;
}

h1 {
  color: #5f497a;
  position: absolute;
  left: 50%;
  display: block;
  font-family: Calibri, serif;
  font-size: 3em;
  margin-left: -45px;  
}

.why {
  margin-left: -45px;  
}

.what {
  margin-left: -55px;
}

a {
  text-decoration: none;
  color: #5f497a;
}